body {
     font-family: sans-serif;
}
#cam {
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    border: 3px #050 solid;
    width: 640px;
    height: 360px;
}
#batteryProgress {
	width: 640px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#counter {
    margin-bottom: 0px;
    width: 20px;
}
#stats {
    position: absolute;
    left: 25%;
    font-size: 26px;
    padding: 50px;
    line-height: 120%;
}
#sequence {
    text-align: center;
}
.buttons {
    text-align: center;
}
.dropdown-menu {
    text-align: left;
}